.num_wg_select{
  /*display:flex;*/
  /*left: 2%;*/
  /*display:grid;*/
}


.hamiltonian_div{
  position: absolute;
  left: 60%;
  top: 132px;
  width: 30%;
  height: 30%
  /*top: 0px ;*/
  /*height: 10%;*/
  /*border: 2px solid blue;*/
}

.p_cell{
  width: 25px;
  text-align: center;
}

.cell{
  width: 5px;
  height: 5px;
}

.all_lbl{
  /*border: 2px solid blue;*/
  position: relative;
  left: 2%;
  height: 20px;
  /*width: 20%;*/
  top: 0px;
}

.top_var{
  /*border: 2px solid green;*/
  position: relative;
  left: 2%;
  height: 20px;
  width: 30px;
  top: 0px;
}

/*#all_cpl{*/
  /*width: 170px;*/
/*}*/

/*Container for all inputs except text boxes*/
#input_var{
  /*display: flex;*/
  position: relative;
  /*display: inline-flex;*/
  /*left: 10px;*/
  /*background: cyan;*/
  height: 100%;
  white-space: nowrap;

  /*border: 2px solid blue;*/
}

.wg_components{
  position: relative;
  height: 300px;
  width: 40%;
  overflow-y: auto;
}

/* Vertical Coupling Slider Containing Div. Not actual slider!*/
#coupling{
  position: absolute;
  left: 2%;
  top: 38px;
  /*top: 10%;*/
}

.couple_txt{
  /*position: absolute;*/
  padding-left: 2px;
  /*left: 1%;*/
  width: 25px;
}

.couple_label{
  /*height: 42.75px;*/
  /*position: relative;*/
  /*height: 20%;*/
  /*border: 2px solid blue;*/
}

.comb_input{
  /*background: red;*/
  /*border: 2px solid purple;*/
  position: relative;
  left: 8%;
  display: inline-flex;
  border: 2px solid black;
  width: 90%;
  height: 100%;
}

#wg_num_label{
  padding-left: 5px;
  padding-right: 5px;
}

#pad_label{
  /*border: 1px solid green;*/
  /*position: relative;*/
  width: 2%;
  padding-left: 5px;
  padding-right: 7px;
  padding-bottom: 1px;
}

.beta_label{
  width: 2%;
  padding-left: 5px;
  padding-right: 60px;
}

.photon_checkbox{
  height: 15px;
  /*border: 2px*/
}

/* Div holding photon checkboxes..*/
#photons{
  /*height: 100%;*/
  /*height: 20px;*/
  /*padding-top: 6%;*/
  /*padding-bottom: 6%;*/
  /*position: absolute;*/
  /*left: 9%;*/

  /*border: 2px solid green;*/
  /*padding: 10%;*/
}

input[type=checkbox]{
  width: 25px; /*Desired width*/
  /*height: 10px;*/
  /*top: 0px;*/
  /*cursor: pointer;*/
  /*-webkit-appearance: none;*/
  /*appearance: none;*/
  /*height: 50px;*/
  /*transform: scale(2);*/
  /*zoom: 1.5;*/
}

/*Inline Results*/
#hist_plot_sp{
  position: absolute;
  top: 0%;
  left: 41%;
  height: 100%;
  width: 65%;
}

/*#js_hist{*/
  /*transform: rotate(90deg);*/
  /*border: 2px solid blue;*/
/*}*/


#corr_plot{
  position: absolute;
  top: 0%;
  left: 41%;
  /*height: 120%;*/
  height: 350px;
  width: 50%;

}

#result_svg{
  position: relative;
}

#result_svg_inline{
  position: absolute;
  top: 1px;
  left: 43%;
}

.results{
  position: relative;
  /*border: 2px solid green;*/
  /*width: 100%;*/
  /*height: 75%;*/
}

#hist_plot{
  position: relative;
  width: 100%;
}

#prop_plot{
  position: relative;
  /*left: -10%;*/
  /*height: 75%;*/
  height: 350px;
  width: 100%;
  /*width: 122%;*/
  overflow: hidden;
  /*width: 100%;*/
  /*left: 5%;*/
}

/*.y_axis_lbl{*/
  /*border: 2px solid black;*/
  /*-webkit-transform: rotate(-90);*/
  /*-webkit-transform: translate(90px, 230px) rotate(90deg);*/
  /*transform: rotate(-90);*/
/*}*/

.x_axis line {
  stroke: #fff;
}

.x_axis .minor {
  stroke-opacity: .5;
  /*stroke-width: 1px;*/
}

.x_axis path {
  display: none;
}

.y_axis line{
  stroke: #fff;
}

.y_axis path {
  display: none;
  fill: none;
  stroke: #000;
}


/*
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #eeeeee;
    text-align: center;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}*/
