<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="description" content="">
     <meta name="author" content="">
     <link rel="icon" href="../../favicon.ico">

     <title>Quantum Random Walks</title>

     <!-- jQuery and AJAX - Google CDN -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

     <!-- Bootstrap core CSS -->
     <link href="/static/css/bootstrap.min.css" rel="stylesheet">

     <!-- D3.js CDN -->
     <script src="http://d3js.org/d3.v3.min.js"></script>

     <!-- Custom styles for this template -->
     <!--  Dropdown Box styling -->
     <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/dropdown.css')}}">

     <!-- script for Loading amount of selected elements -->
     <script type="text/javascript" src="{{url_for('static', filename='scripts/load_wgs.js')}}"> </script>

     <!-- Script for collecting simulation data and passing to simulator -->
     <script type="text/javascript" src="{{url_for('static', filename='scripts/get_sim_data.js')}}"> </script>


     <!-- Sliders -->
     <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-slider.css')}}">
     <script type="text/javascript" src="{{url_for('static', filename='scripts/bootstrap-slider.js')}}"> </script>

     <!-- js notifications:  https://notifyjs.com/ -->
     <script type="text/javascript" src="{{url_for('static', filename='scripts/notify.js')}}"> </script>

 </head>

 <body>
   <div id="page_title">
     <center>
       <h1>
         <p>
           Quantum Walker
         </p>
       </h1>
       <!-- <p>
         <h5>
           For information, see the <a href="/documentation">documentation</a>.
         </h5>
       </p> -->

       <p>
         <h4>
           Select the number of waveguides you wish to walk over.
         </h4>
       </p>
       <br/>
     </center>
   </div>
   <div class="results" id="results">
     <img id="prop_plot" class="result_plot" type="png" style="display: none;"/>
   </div>
   <!-- <br/> -->
   <div class="num_wg_select">
     <div class="dropdown tab">
       <button onclick="wg_num_select()" class="dropbtn" id="dropbtn">Select Number of Waveguides</button>

       <div id="myDropdown" class="dropdown-content">
         <a onclick="load_num_wgs(2)" id="wg" class="wg_sel">2</a>
         <a onclick="load_num_wgs(3)" id="wg" class="wg_sel">3</a>
         <a onclick="load_num_wgs(4)" id="wg" class="wg_sel">4</a>
         <a onclick="load_num_wgs(5)" id="wg" class="wg_sel">5</a>
         <a onclick="load_num_wgs(6)" id="wg" class="wg_sel">6</a>

         <!-- text-box for 'other' amount added via javascript -->
       </div>

     </div>
     <!-- <center> -->
       <span class = "text_inputs">
         <!-- Equalize Propagation -->
         <label id="all_beta_label" class="all_lbl" onclick="_update_all(this)" style="visibility: hidden"> Reset Propagation Constants </label>
         <input id="all_beta" class="all_beta top_var" type='input' value="" style="visibility: hidden" onchange="_update_all(this)" onblur="_reset_input(this)">
         <label id="pad_label"> </label>

         <!-- Set All Coupling input -->
         <label id="all_cpl_label" class="all_lbl" onclick="_update_all(this)" style="visibility: hidden"> Set All Coupling (per mm) </label>
         <input id="all_cpl" class="all_cpl top_var" type='input' value="" style="visibility: hidden" onchange="_update_all(this)" onblur="_reset_input(this)">
         <label id="pad_label"> </label>

         <!-- Structure Length Input -->
         <label id="wg_len_label" class="all_lbl" onclick="_update_all(this)" style="visibility: hidden"> Length of Waveguides (mm) = 30 </label>
         <input id="wg_len" class="wg_len top_var" type='input' value=""  style="visibility: hidden" onchange="_update_all(this)" onblur="_reset_input(this)">

     </div>
   </span>
   </div>


 <!-- Div for sliders n such -->
 <div class='sim_data' id='sim_data'>
   <div class="var_input" id="input_var">

     <!-- Empty div spaces for components -->
     <div class="wg_components">
       <!-- Coupling sliders -->
       <div class="coupling_container input_def" id="coupling">
       </div>

       <!-- Waveguide Sliders -->
       <div class="waveguides input_def" id="waveguides">
       </div>
     </div>

     <div class="inline_results" id="inline_results">
       <img id="corr_plot" class="result_plot" type="png" style="display: none;"/>

       <!-- View/Update hamiltonian when >3 photon -->
       <!-- <div class="hamiltonian_div">
       <table id="hamiltonian_table">
       </table>
     </div> -->

   </div>
   <!-- <div class="results" id="results">
     <img id="prop_plot" class="result_plot" type="png" style="display: none;"/>
   </div> -->
<!-- </center> -->
 </div>

<!-- End of document JS scripts. -->
<!-- Dropdown behavior -->
<script type="text/javascript" src="{{url_for('static', filename='scripts/dropdown.js')}}"> </script>

 <!-- Formatting input divs -->
 <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/input_divs.css')}}">

</body>



 </html>
