{{extend 'layout.html'}}

<center> <h1>Quantum Walk Simulator</h1> </center>
<!-- <h3>{{=title}}</h3> -->
{{ # =sub}}

<br/>
<center> <h4> Upload a CSV defining the hamiltonian of the system </h4> </center>

<center>
{{=FORM(INPUT(_type='file', _name='csv_file'),
        INPUT(_type='hidden', _value='Hamiltonian', _name='table'),
        INPUT(_name = 'UL', _type='submit', _value='Upload', _onclick="matplot_plot"))}}

</center>

<!-- {{=IMG(_src=URL('process_csv'))}} -->

<!-- <img src="{{=URL(f='sample_plot')}}" /> -->

{{# =target}}

<!-- {{=EMBED(_type="image/png", _src=URL('process_csv'))}} -->
<figure>
  <!-- <embed type="image/png" scr="{{=process_target}}" /> -->
  {{#=process_target}}
</figure>
{{# =py_target}}

{{ #=eg_plot}}

{{# =plot_pygal}}

<figure>
    <embed type="image/svg+xml" src="{{=plot_pygal}}" />
</figure>
<br /> <br />

<br /> <br />

{{# =plot_func}}

<!-- <embed type="image/svg+xml" src="#" width="300" height="300"> -->

<!-- {{=BEAUTIFY(response._vars)}} -->
