<br /> <br />
{{=CENTER(FORM(TABLE(
    TR(
        TD(INPUT(_onclick="clicked(this); return false;",
                _class="", _name="wg_1", _id="wg1", _value='0',
                _type="image", _src=URL('static', 'images/wg_str.png')))),
    TR(TD(
            LABEL("Coupling coefficient: "),
            INPUT(_value=""))),
    TR(
        TD(INPUT(_onclick="clicked(this); return false;",
                _class="", _name="wg_2", _id="wg2", _value='0',
                _type="image", _src=URL('static', 'images/wg_str.png'))),
            _name="waveguides", _id="waveguides"))))}}

<br /> <br />


<script type="text/javascript">
function clicked(el){
    // var name = el.name;
    // var lastChar=name.charAt(name.length-1);
    // var lastInt = lastChar.toString();
    // var id = "chkbox";
    // var chkName = id.concat(lastInt);
    // console.log(chkName);

    // var chkbox = document.getElementById(chkName);
    // var table=document.getElementById("getme")
    // console.log(table)

    // if($(el).hasClass("active")){
    //     $(el).removeClass("active");

        // chkbox.checked=true;
        // chkbox.click();
        // console.log(chkbox);

    //     el.value = '0';
    // }else{
    //     $(el).addClass("active");
        // chkbox.checked=false;
    //     el.value = '1';
    // }
    // post(el, table);
    post(el);
}

function post(el){
    $.post('{{=URL("live_post")}}', [el], 'response')
}
</script>
